<div class="nav-side-menu">
  <div *ngIf="sideNavOpen" class="combineLogoToggle">
    <div class="brand">Brand Logo</div>
    <div class="toggleSet">
      <!-- <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i> -->
      <!-- <i class="fa fa-bars"></i> -->
      <button class="toggleIcon pull-right" id="toggleButton" name="toggleButton" (click)="toggleSideNav()">
        <i class="fa fa-bars"></i>
      </button>
    </div>
  </div>
  <div *ngIf="!sideNavOpen" class="sideNavClosed">
      <button class="toggleIcon pull-right" id="toggleButton" name="toggleButton" (click)="toggleSideNav()">
          <i class="fa fa-bars"></i>
        </button>
  </div>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <ng-container *ngFor="let navMenu of sidenav">
      <li id="{{navMenu.elementId}}" (click)="navMenu.isCollapsed = !navMenu.isCollapsed">
        <a *ngIf="sideNavOpen" [routerLink]="navMenu.routelink">
          <i class="{{navMenu.icon}}"></i> 
            {{navMenu.elementValue}}
            <span *ngIf="navMenu.children.length > 0" class="fa navigationarrow" [ngClass]="[navMenu.isCollapsed? 'fa-chevron-left':'fa-chevron-down']" [@openClose1]="navMenu.isCollapsed ? 'closed' : 'open'" (click)="navMenu.isCollapsed = !navMenu.isCollapsed" [attr.aria-expanded]="navMenu.isCollapsed" aria-controls="parent-navMenu.elementId"></span>
        </a>

        <a *ngIf="!sideNavOpen">
            <i class="{{navMenu.icon}}"></i>
        </a>
      </li>
      <app-child-nav [navMenu]="navMenu" [parentId]="navMenu.elementId" [sideNavOpen]="sideNavOpen"></app-child-nav>
    </ng-container>
    </ul>
  </div>
</div>