<div class="jumbotron">
    <h1 class="display-4">Route 2 - C !</h1>
    <p class="lead">Route is /home/route2/route2C </p>
    <hr class="my-4">
    <p>Below are the options.</p>
    <div class="btn-grid">
        <button type="button" class="btn btn-secondary" [routerLink]="['../','route2A']">Route2A</button>
        <button type="button" class="btn btn-secondary" [routerLink]="['../','route2B']">Route2B</button>
    </div>

    <button type="button" class="btn btn-primary" [routerLink]="['route2C']">dummy</button>
  </div>