.sidenav {
    width:4%;
    padding-left: 1%;
    height:100%;
    display: block;
}

.main-content {
    width:80%;
    margin-right: 3%;
    margin-left: 3%;
}

.loader {
    width: 400px;
    height: 400px;
    
    background: url("/assets/images/loader.gif") center center no-repeat; 
  }


  .box {
  margin: 50px auto;
  background: #5FCF80;
  width: 150px;
  height: 150px;
}
.box:hover {
  transform: rotate(360deg);
  background: #9351A6;
  border-radius: 50%;
}
.rotate {
  transition: all 0.5s ease-in-out;
}
.rotate:hover {
  transition: all 1s ease-in-out;
}