<div class="card-deck">
  <div class="card bg-primary">
    <div class="card-body text-center">
      <p class="card-text">Routehome</p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Route Study</div>
    <div class="card-body">This module has environment setup to study basics of routing</div> 
    <div class="card-footer">
      <button class="btn btn-success" id="routeButton" name="routeButton"
      [routerLink]="['/home']">Open</button>
    </div>
  </div>
  <div class="card bg-warning">
    <div class="card-body text-center">
      <p class="card-text">Product Study</p>
    </div>
  </div>
  <div class="card bg-success">
    <div class="card-body text-center">
      <p class="card-text">Module 3</p>
    </div>
  </div>
  <div class="card bg-danger">
    <div class="card-body text-center">
      <p class="card-text">Module 4</p>
    </div>
  </div> 
</div>